.arrow-container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

.arrow {
  pointer-events: all;
  background: var(--color-accent);
  color: var(--color-background);
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow:hover {
  transform: scale(1.1);
  background: var(--color-primary);
}

.arrow.up {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  /* z-index: 999; */
}

.arrow.down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
