.projects-page {
  background: var(--color-background);
  /* min-height: 100vh; */
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-title {
  font-size: 2.8rem;
  color: var(--color-primary);
  margin-bottom: 3rem;
  border-bottom: 3px solid var(--color-accent);
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1100px;
}

.create-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.delete-btn {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
  margin-top: 10px;
}

.delete-btn:hover {
  background-color: #d62828;
}

.create-btn:hover {
  transform: scale(1.1);
}

.project-card {
  background: var(--color-text-light);
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.project-img img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}



.project-content {
  padding: 1.5rem;
  text-align: center;
}

.project-content h2 {
  color: var(--color-primary-dark);
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.project-content p {
  color: var(--color-text);
  font-size: 0.95rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.project-btn {
  background: var(--color-accent);
  color: var(--color-text-light);
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.project-btn:hover {
  background: var(--color-accent-dark);
}
